@import '~bootstrap/scss/bootstrap';

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";

$fa-font-path:"~fa/../webfonts";
@import "~fa/fontawesome.scss";
@import "~fa/solid.scss";
@import "~fa/regular.scss";
@import "~fa/brands.scss";



$bg-dark: #1c1c1c;
$blue: #0282f9;
$white: #ffffff;
$txt-dark: #414543;
$text-light: #838480;
$footer-bg: #303030;
$footer-icons: #797979;
$footer-blue: #0086fe;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $bg-dark;
    color: $white;
}
.top-header{
    background-color: $blue;
    padding: .25rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li{
            font-size: .75rem;
            font-weight: 700;
        }
    }
}
header{
    background-color: $white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
ul{
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
   
    li{
        text-transform: uppercase;
        margin-right: 1rem;
        

        a{
            text-decoration: none;
            color: $txt-dark;
            font-size: .85rem;
            font-weight: 700;
        }
    }
}
.logo{
    width: 70px;
    vertical-align: middle;
    img{
        width: 100%;
    }
}
.active{
    color: $blue;
}
.fa-magnifying-glass{
    color: $txt-dark;
}

.jumbotron{
    height: 450px;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

